.big{ :style=> "font-size: 2em; width: 80%; margin: 1em auto" }
	:markdown
		Here's the admin interface for Short Links. Create a link or manage accounts:
	.big{ :style=> "font-size: 2em"}
		:markdown
			[Links](/admin/links/)
		
			[Short Links](/admin/shorties/)
		
			[Accounts](/admin/accounts/)